.login-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    margin: 20px;
    max-width: 600px;
    backdrop-filter: blur(20px) saturate(200%);
    -webkit-backdrop-filter: blur(20px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.38);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    z-index: 100;
}

form .input-group button {
    margin: 10px;
}

.login-form {
    display: block;
}

.login-card-footer {
    padding: 10px;
}

$box-array: (
    "1": calc(random(400) * 1px),
    "2": calc(random(400) * 1px),
    "3": calc(random(400) * 1px),
    "4": calc(random(400) * 1px),
    "5": calc(random(400) * 1px),
    "6": calc(random(400) * 1px),
    "7": calc(random(400) * 1px),
    "8": calc(random(400) * 1px),
);

.box {
    z-index: 1;
    position: absolute;
    height: 70px;
    width: 70px;
    backdrop-filter: blur(20px) saturate(200%);
    -webkit-backdrop-filter: blur(20px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.38);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    // transform: translate(calc(random(400) * 1px), calc(random(400) * 1px));
}

// @each $num, $pixels in $box-array {
//     .box--#{$num} {
//         z-index: 1;
//         position: absolute;
//         height: 70px;
//         width: 70px;
//         backdrop-filter: blur(20px) saturate(200%);
//         -webkit-backdrop-filter: blur(20px) saturate(200%);
//         background-color: rgba(255, 255, 255, 0.38);
//         border-radius: 12px;
//         border: 1px solid rgba(209, 213, 219, 0.3);
//         transform: translate($pixels, $pixels);
//     }
// }

.box--1 {
    transform: translate(-145px, -100px);
}

.box--2 {
    transform: translate(131px, 100px);
}

.login-container:hover .box--1 {
    animation: move1 infinite;
    animation-duration: 3s;
    transition: all 3s ease-in-out;
}

.login-container:hover .box--2 {
    animation: move2 infinite;
    animation-duration: 3s;
    transition: all 3s ease-in-out;
}

@keyframes move1 {
    0% {
        transform: rotate(0deg) translate(-145px, -100px);
    }
    50% {
        transform: rotate(30deg) scale(1.2);
    }
    100% {
        transform: rotate(0deg) translate(-145px, -100px);
    }
}

@keyframes move2 {
    0% {
        transform: rotate(0deg) translate(131px, 100px);
    }
    50% {
        transform: rotate(30deg) scale(1.2);
    }
    100% {
        transform: rotate(0deg) translate(131px, 100px);
    }
}

.props-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.prop {
    padding: 10px;
    margin: 20px;
    background-color: rgb(241, 241, 241);
    width: calc(100% / 3);
    max-width: 400px;
    min-width: 300px;
    height: 200px;
    border-radius: 10px;
}

.prop button {
    text-decoration: none;
    color: black;
    bottom: 0;

    position: relative;
}

.props-container:hover .prop:not(:hover) {
    filter: blur(3px);
    transition: filter 0.1s ease-in-out;
}

.prop:hover {
    filter: none;
    transform: scale(1.1) translateY(-10px);
    transition: all 0.2s ease-in-out;
}

.prop .btn-4 {
    margin: 10px;
}

.gal-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 20px 10%;

    grid-template-areas:
        "picA picB picC picC"
        "picA picD picE picF"
        "picG picG picE picF";

    & div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

.picA {
    grid-area: picA;
    position: relative;

    &:hover .gal-label {
        transform: scale(1.1);
        opacity: 0.7;
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        transform: scale(1.1) skewY(1deg);
        transition: all 0.2s ease-in-out;
    }
}

.picB {
    grid-area: picB;
    &:hover .gal-label {
        transform: scale(1.1);
        opacity: 0.7;
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        transform: scale(1.1) skewY(1deg);
        transition: all 0.2s ease-in-out;
    }
}

.picC {
    grid-area: picC;
    &:hover .gal-label {
        transform: scale(1.1);
        opacity: 0.7;
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        transform: scale(1.1) skewY(1deg);
        transition: all 0.2s ease-in-out;
    }
}
.picD {
    grid-area: picD;
    &:hover .gal-label {
        transform: scale(1.1);
        opacity: 0.7;
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        transform: scale(1.1) skewY(1deg);
        transition: all 0.2s ease-in-out;
    }
}

.picE {
    grid-area: picE;
    &:hover .gal-label {
        transform: scale(1.1);
        opacity: 0.7;
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        transform: scale(1.1) skewY(1deg);
        transition: all 0.2s ease-in-out;
    }
}

.picF {
    grid-area: picF;
    &:hover .gal-label {
        transform: scale(1.1);
        opacity: 0.7;
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        transform: scale(1.1) skewY(1deg);
        transition: all 0.2s ease-in-out;
    }
}

.picG {
    grid-area: picG;
    &:hover .gal-label {
        transform: scale(1.1);
        opacity: 0.7;
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        transform: scale(1.1) skewY(1deg);
        transition: all 0.2s ease-in-out;
    }
}

.gal-label {
    opacity: 0;
    position: absolute;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: black;

    margin: 20px;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 10;
    border-radius: 10px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.gal-label p {
    padding: 30px 3vw;
}

#ask-container {
    backdrop-filter: blur(20px) saturate(200%);
    -webkit-backdrop-filter: blur(20px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.38);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 101;
}

.ask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.like-btn{
    height:30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding: 3px;
    border-radius: 100%;
    margin: 10px;

    &:hover{
        transform: scale(1.02);
        transition: all 0.2s ease-in-out;
    }
    
}

#canvas {
    display: none;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 102;
    width: 100%;
    height: 100%;
}


.disabled{
    pointer-events: none;
    opacity: 0.5;
}