

.login-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    margin: 20px;
    max-width: 600px;
    backdrop-filter: blur(20px) saturate(200%);
    -webkit-backdrop-filter: blur(20px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.38);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    z-index: 100;
}

form .input-group button {
    margin: 10px;
}

.login-form {
    display: block;
}

.login-card-footer {
    padding: 10px;
}

$box-array: (
    "1": calc(random(400) * 1px),
    "2": calc(random(400) * 1px),
    "3": calc(random(400) * 1px),
    "4": calc(random(400) * 1px),
    "5": calc(random(400) * 1px),
    "6": calc(random(400) * 1px),
    "7": calc(random(400) * 1px),
    "8": calc(random(400) * 1px),
);


.box {
    z-index: 1;
    position: absolute;
    height: 70px;
    width: 70px;
    backdrop-filter: blur(20px) saturate(200%);
    -webkit-backdrop-filter: blur(20px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.38);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    // transform: translate(calc(random(400) * 1px), calc(random(400) * 1px));
}



// @each $num, $pixels in $box-array {
//     .box--#{$num} {
//         z-index: 1;
//         position: absolute;
//         height: 70px;
//         width: 70px;
//         backdrop-filter: blur(20px) saturate(200%);
//         -webkit-backdrop-filter: blur(20px) saturate(200%);
//         background-color: rgba(255, 255, 255, 0.38);
//         border-radius: 12px;
//         border: 1px solid rgba(209, 213, 219, 0.3);
//         transform: translate($pixels, $pixels);
//     }
// }


.box--1 {
    transform: translate(-145px, -100px);
}

.box--2 {
    transform: translate(131px, 100px);
}

.login-container:hover .box--1{
    animation: move1 infinite;
    animation-duration: 3s;
    transition: all 3s ease-in-out;
}

.login-container:hover .box--2{
    animation: move2 infinite;
    animation-duration: 3s;
    transition: all 3s ease-in-out;
}


@keyframes move1 {
    0% {
        transform: rotate(0deg) translate(-145px, -100px);
    }
    50% {
        transform: rotate(30deg) scale(1.2);
    }
    100% {
        transform: rotate(0deg) translate(-145px, -100px);
    }
}

@keyframes move2 {
    0% {
        transform: rotate(0deg) translate(131px, 100px);
    }
    50% {
        transform: rotate(30deg) scale(1.2);
    }
    100% {
        transform: rotate(0deg) translate(131px, 100px);
    }
}

.props-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.prop{
    padding: 10px;
    margin: 20px;
    background-color: rgb(241, 241, 241);
    width: calc(100%/3);
    max-width: 400px;
    min-width: 300px;
    height: 200px;
    border-radius: 10px;
    
    
}

.prop button{
    text-decoration: none;
    color: black;
    bottom: 0;
    
    position: relative;
}

.props-container:hover .prop:not(:hover){
    filter: blur(3px);
    transition: filter 0.1s ease-in-out;
}

.prop:hover{
    filter: none;
    transform: scale(1.1) translateY(-10px);
    transition: all 0.2s ease-in-out;
}

.prop .btn-4{
    margin: 10px;
}


.gal-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 10px;
    margin: 20px;

    grid-template-areas: 
    "picA picB picC picC"
    "picA picD picE picF"
    "picG picG picE picF";

    & div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

}

.picA{
    grid-area: picA;    
}

.picB{
    grid-area: picB;
}

.picC{
    grid-area: picC;
    
}
.picD{
    grid-area: picD;
}

.picE{
    grid-area: picE;
}

.picF{
    grid-area: picF;
}

.picG{
    grid-area: picG;
}